/* sb.admin components */
@import "../components/metisMenu/css/metisMenu.min";
@import "../components/startbootstrap-sb-admin-2/css/sb-admin-2";
@import "../components/font-awesome/scss/font-awesome";

/* custom styles */
@import "components/custom";