#tl_buttons {
    padding-bottom: 10px;
    text-align: right;
    vertical-align: middle;
    display: block;
    float: right;
    > a {
        @include bootstrap-panel-button;
        position: relative;
        float: left;
        color: $gray-dark;
        background-color: #fff;
        border: 1px solid #ccc;
        text-decoration: none;
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active,
        &.active {
            text-decoration: none;
            z-index: 2;
        }
        &:hover {
            color: $gray-dark;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }
    &:before,
    &:after,
    + p:before,
    + h2:before,
    + .sub_headline:before {
        @include clear();
    }
    + .tl_message,
    + p {
        margin-top: 54px;
    }
    a + a {
        margin-left: -1px;
    }
    > a:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
    }

    // Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
    > a:first-child {
        margin-left: 0;
        &:not(:last-child):not(.dropdown-toggle) {
            @include border-right-radius(0);
        }
    }
    // Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
    > a:last-child:not(:first-child),
    > .dropdown-toggle:not(:first-child) {
        @include border-left-radius(0);
    }
    + form:before,
    + #paste_hint {
        + form:before,
        + .tl_listing_container:before {
            @include clear();
        }
    }
    + form:before,
    + .tl_listing_container:before {
        @include clear();
    }
}

.tl_version_panel input[type="search"],
.tl_version_panel input[type="text"],
.tl_version_panel select,
.tl_panel .tl_subpanel input[type="search"],
.tl_panel .tl_subpanel input[type="text"],
.tl_panel .tl_subpanel select,
.tl_panel_bottom .tl_subpanel select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.tl_panel_bottom .tl_subpanel,
.tl_panel .tl_subpanel {
    input[type="search"],
    input[type="text"],
    select {
        width: 120px;
        margin-top: 10px;
    }
    input[type="image"] {
        margin-top: 10px;
    }
}

.tl_panel_bottom .tl_subpanel input[type="image"],
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"],
.tl_submit {
    @include bootstrap-button;
}

a.tl_submit {
    text-decoration: none;
}

#save:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#save:before {
    content: "\e166";
}

.tl_panel_bottom .tl_subpanel input[type="image"],
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"],
.tl_submit {
    color: $gray-dark;
    background-color: #fff;
    border-color: #ccc;
}

.tl_panel_bottom .tl_subpanel input[type="image"]:hover,
.tl_panel .tl_subpanel input[type="image"]:hover,
input[type="submit"]:hover,
.tl_submit:hover {
    color: $gray-dark;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.drag-handle {
    cursor: move;
}

@media (max-width: 48em) {
    .tl_panel .tl_filter {
        text-align: left;
        input[type="search"],
        input[type="text"],
        select,
        strong,
        span {
            width: 100%;
            margin-top: 10px;
        }
    }
    #tl_buttons {
        float: none;
        + p {
            margin-top: 0;
        }
    }
}