#tl_buttons {
	padding: 10px;
	text-align: right;
}
.tl_version_panel input[type="search"],
.tl_version_panel input[type="text"],
.tl_version_panel select,
.tl_panel .tl_subpanel input[type="search"],
.tl_panel .tl_subpanel input[type="text"],
.tl_panel .tl_subpanel select {
	display: inline-block;
    width: auto;
    vertical-align: middle;
	height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#save:before {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#save:before {
	content: "\e166";
}
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"] {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.tl_panel .tl_subpanel input[type="image"]:hover,
input[type="submit"]:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}