#tl_buttons {
	padding-bottom: 10px;
	text-align: right;
    vertical-align: middle;
    display: block;
    float: right;
    > a {
        @include bootstrap-panel-button;
        position: relative;
        float: left;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        text-decoration: none;
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active,
        &.active {
            text-decoration: none;
            z-index: 2;
        }
        &:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }
    &:before,
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
    a + a {
        margin-left: -1px;
    }
    > a:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
    }

    // Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
    > a:first-child {
        margin-left: 0;
        &:not(:last-child):not(.dropdown-toggle) {
            @include border-right-radius(0);
        }
    }
    // Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
    > a:last-child:not(:first-child),
    > .dropdown-toggle:not(:first-child) {
        @include border-left-radius(0);
    }
    + form:before,
    + #paste_hint {
        + form:before,
        + .tl_listing_container:before {
            clear: both;
            content: " ";
            display: table;
        }
    }
    + form:before,
    + .tl_listing_container:before {
        clear: both;
        content: " ";
        display: table;
    }
}
.tl_version_panel input[type="search"],
.tl_version_panel input[type="text"],
.tl_version_panel select,
.tl_panel .tl_subpanel input[type="search"],
.tl_panel .tl_subpanel input[type="text"],
.tl_panel .tl_subpanel select {
	display: inline-block;
    width: auto;
    vertical-align: middle;
	height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"] {
    @include bootstrap-button;
}
#save:before {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#save:before {
	content: "\e166";
}
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"] {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.tl_panel .tl_subpanel input[type="image"]:hover,
input[type="submit"]:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}