@mixin color-mode($wrapper-bg: #2B2B2B, $font-color: #A9B7C6,
$nav-body: #222222, $nav-active: #080808, $nav-active-link: #FFF, $nav-link: #9d9d9d

) { //$font-color, $wrapper-color, $prim-background, $sec-color, $sidebar-link, $sidebar-link-hover) {
	background-color: $nav-body;
	color: $font-color;
	#page-wrapper {
		background-color: $wrapper-bg;
	}
	.tl_submit_container,
	.tl_panel,
	.tl_panel_bottom,
	.tl_version_panel,
	.tl_listing_container.parent_view .tl_header {
		background-color: $nav-body;
	}
	.navbar {
		background-color: $nav-body;
	}
	.sidebar ul,
	.navbar-top-links {
		background-color: $nav-body;
		> li {
			&:hover,
			&:focus,
			&.active {
				background-color: $nav-active;
				> a {
					color: $nav-active-link;
				}
			}
			a {
				color: $nav-link;
				&:hover,
				&:focus,
				&.active {
					background-color: $nav-active;
					color: $nav-active-link;
				}
			}
		}
	}
	.navbar-default .navbar-nav {
		> .active > a {
			background-color: $nav-body;
		}
		> .active,
		> .open {
			> a:hover,
			> a:focus {
				background-color: $nav-active;
				color: $nav-active-link;
			}
		}
		> .open {
			> a {
				background-color: $nav-active;
				color: $nav-active-link;
			}
			.dropdown-messages {
				background-color: $nav-body;
				color: $font-color;
				a:hover {
					background-color: $nav-active;
					color: $nav-active-link;
				}
			}
		}
	}


	/*

	#page-wrapper,
	.panel,
	.dropdown-menu {
		background-color: $wrapper-color;
	}
	
	.panel-heading,
	.panel-footer,
	.table-striped > tbody > tr:nth-of-type(odd),
	#tl_ajaxOverlay {
		background-color: $prim-background;
	}
	.panel-heading {
		color: $sidebar-link;
	}
	.chzn-container-single .chzn-single,
	select,
	textarea,
	input[type="text"] {
		background-color: $wrapper-color;
		color: $font-color;
	}
	.tl_submit_container,
	.tl_panel,
	.tl_panel_bottom,
	.tl_version_panel,
	.tl_listing_container.parent_view .tl_header {
		background-color: $prim-background;
	}
	.table-hover > tbody > tr:hover {
		background-color: $sec-color;
	}
	.tl_listing {
		li {
			&.tl_file:hover {
				background-color: $sec-color;
			}
		}
	}
	.tl_listing_container {
		.tl_header {
			&:hover {
				background-color: $sec-color;
			}
		}
		> ul {
			> li {
				&:hover {
					background-color: $sec-color;
				}
			}
		}
	}*/
}
.dark-theme {
	@include color-mode()
}
/*
.dark-theme {
	@include color-mode(
			#A9B7C6,    // $font-color
			#2B2B2B,    // $wrapper-color
			#222222,    // $prim-background
			#080808,    // $sec-color
			#9d9d9d,    // $sidebar-link
			#FFFFFF     // $sidebar-link-hover
	);
}

.coffee-theme {
	@include color-mode(
			#716358,    // $font-color
			#D7D2CC,    // $wrapper-color
			#FFFFFF,    // $prim-background
			#6F625A,    // $sec-color
			#D7D2CC,    // $sidebar-link
			#FFFFFF     // $sidebar-link-hover
	);
}*/