.dark-theme {
	background-color: #222;
	.sidebar-nav,
	.navbar {
		@extend .navbar-inverse;
	}
	.sidebar ul li,
	#page-wrapper {
		border-color: #080808;
	}
	.sidebar-nav ul li ul li {
		&.active,
		&:focus,
		&:hover {
			background-color: #080808;
		}
		a {
			color: #9d9d9d;
			opacity: 0.9;
		}
		a.active,
		a:focus,
		a:hover {
			background-color: #080808;
			color: #fff;
		}
	}
	#tl_ajaxOverlay {
		background-color: #222;
	}
}