.dark-theme {
	background-color: #222;
	color: #A9B7C6;
	.sidebar-nav,
	.navbar {
		@extend .navbar-inverse;
	}
	.sidebar ul li,
	#page-wrapper {
		border-color: #080808;
	}
	#page-wrapper {
		background-color: #2B2B2B;
	}
	.sidebar-nav ul li ul li {
		&.active,
		&:focus,
		&:hover {
			background-color: #080808;
		}
		a {
			color: #9d9d9d;
			opacity: 0.9;
		}
		a.active,
		a:focus,
		a:hover {
			background-color: #080808;
			color: #fff;
		}
	}
	#tl_ajaxOverlay {
		background-color: #222;
	}
	.chzn-container-single .chzn-single,
	select,
	input[type="text"] {
		background-color: #2B2B2B;
		color: #A9B7C6;
	}
	.tl_submit_container,
	.tl_panel,
	.tl_panel_bottom,
	.tl_version_panel,
	.tl_listing_container.parent_view .tl_header {
		background-color: #222;
	}
}