.alert-list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.alert-list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.alert-list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}
.alert-list-group-item p {
	padding: 10px 15px;
	margin: 0;
}
.navbar-top-links .alert-messages.dropdown-menu li > div {
	padding: 3px 20px;
    min-height: 0;
}
.tl_empty,
.tl_message .tl_confirm,
.tl_message .tl_new,
.tl_message .tl_info,
.tl_message .tl_raw,
.tl_message .tl_error {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.tl_error { /* alert-danger*/
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.tl_confirm { /*.alert-success */
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.tl_info {/*.alert-info */
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.tl_confirm:before,
.tl_new:before,
.tl_info:before,
.tl_error:before,
fieldset.tl_tbox > legend:before,
fieldset.tl_box > legend:before {
	padding-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.1em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tl_confirm:before {
	content: "\f058";
}
.tl_new:before {
	content: "\f055";
}
.tl_info:before {
    content: "\f05a";
}
.tl_error:before {
	content: "\f071";
}
.tl_new {/*.alert-warning */
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.tl_empty {
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.invisible {
	display: none;
}
.tl_panel > div {
	display: inline;
	margin-left: 8px;
}
.tl_submit_panel.tl_subpanel {
	float: right;
}
fieldset.hide {
	display: block !important;
}
fieldset.collapsed {
	padding-top:0;
	padding-bottom:12px;
	margin-bottom:0;
}
fieldset.collapsed div {
	display:none !important;
}
.tl_tbox > div,
.tl_formbody_edit fieldset > div {
	//width: 100%;
}
.w50,
.tl_tbox > div,
.tl_formbody_edit fieldset > div {
	display: block;
	margin-bottom: 15px;
	padding-right: 15px;
	min-height: 115px;
}
.clr {
	display: table;
	clear: both;
	width: 100%;
}
div.w50 {
	float: left;
	width: 50%;
}
.w50.cbx {
    //margin-top: 10px;
    //margin-bottom: 10px;
}
.m12 {
    margin: 12px 0;
}
.long, div.long {
	width: 100%;
	padding-right: 15px;
}
.tl_formbody_edit h3 {
    font-size: 1em;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.tl_panel .tl_subpanel input[type="search"],
.tl_panel .tl_subpanel input[type="text"],
.tl_panel .tl_subpanel select,
.tl_text,
.tl_text_2,
.tl_text_3,
.tl_text_4,
.tl_textarea,
.tl_text_unit,
.tl_text_trbl,
.tl_text_interval,
select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.tl_checkbox_single_container {
	margin-top: 40px;
}
.wizard {
    position: relative;
    display: table;
    border-collapse: separate;
}
.wizard input
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
div.wizard a {
    z-index: 2;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
	display: table-cell;
	height: 32px;
	padding: 5px 12px;
}
div.wizard h3 label {
	display: table-cell;
	padding: 20px 0 5px 0;

}
div.wizard p,
div.wizard h3{
	display: table-row;
}
div.wizard h3 {
}
.tl_radio_table {
	width: 100%;
}
input.tl_text_2 {
	width: 48%;
	display: inline-block;
    vertical-align: middle;
}
select.tl_select_interval {
	display: inline-block;
	width: 50%;
}
.tl_text_trbl {
	display: inline-block;
	width: 19%;
}
.tl_select_unit {
	display: inline-block;
	width: 19%;
}
.tl_text_unit {
	display: inline-block;
	width: 80%;
}
.tl_text[disabled],
.tl_text_2[disabled],
.tl_text_3[disabled],
.tl_text_4[disabled],
.tl_textarea[disabled],
.tl_text_unit[disabled],
.tl_text_trbl[disabled],
.tl_text_interval[disabled],
.tl_text[readonly],
.tl_text_2[readonly],
.tl_text_3[readonly],
.tl_text_4[readonly],
.tl_textarea[readonly],
.tl_text_unit[readonly],
.tl_text_trbl[readonly],
.tl_text_interval[readonly] {
    background-color: #eee;
    opacity: 1;
	cursor: not-allowed;
}
input.tl_imageSize_0.tl_text_4, input.tl_imageSize_1.tl_text_4 {
	display: inline-block;
	width: 23.5%
}
.chzn-container {
	width: 100%;
	font-size: 14px;
}
.chzn-container-single .chzn-single div b {
	background-position-y: 3px;
}
.chzn-container-single .chzn-search input,
.chzn-container-single .chzn-single>span {
	font-size: 14px;
	padding: 6px 12px;
}
.chzn-container-single a.chzn-single {
	height: 34px !important;
}
fieldset.tl_tbox, fieldset.tl_box {
	margin-top: 20px;
}
fieldset.tl_tbox>legend:before,
fieldset.tl_box>legend:before {
	content: "\f107";
}
fieldset.collapsed>legend:before {
    content: "\f105";
}
fieldset.tl_tbox>legend,
fieldset.tl_box>legend {
    color: #77ac45;
    cursor: pointer;
	font-size: 1.1em;
	margin-bottom: 10px;
}
.tl_submit_container,
.tl_panel,
.tl_version_panel,
.tl_listing_container.parent_view .tl_header {
	width: 100%;
	text-align: right;
	background-color: #f8f8f8;
    border-top: 1px #e7e7e7 solid;
	padding: 10px;
}
.tl_listing_container.parent_view ul > li .tl_content,
.tl_listing_container.parent_view .tl_header {
	border-bottom: 1px #e7e7e7 solid;
}
.tl_listing_container.parent_view ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.limit_height {
    overflow: hidden;
}
.tl_listing_container.parent_view ul > li .tl_content {
	padding: 10px;
}
.cte_type.published, .cte_type.published a {
    color: #77ac45;
}
.cte_type.published {
    padding: 1px 0 2px 20px;
    background: url("../images/published.gif") no-repeat left center;
}
.cte_type.unpublished, .cte_type.unpublished a {
    color: #c33;
}
.cte_type.unpublished {
    padding: 1px 0 2px 20px;
    background: url("../images/unpublished.gif") no-repeat left center;
}
.tl_panel {
    border-left: 1px #e7e7e7 solid;
    border-right: 1px #e7e7e7 solid;
}
.tl_panel:last-child {
	border-bottom: 1px #e7e7e7 solid;
}
#tl_buttons {
	padding: 10px;
	text-align: right;
}
.tl_version_panel input[type="search"],
.tl_version_panel input[type="text"],
.tl_version_panel select,
.tl_panel .tl_subpanel input[type="search"],
.tl_panel .tl_subpanel input[type="text"],
.tl_panel .tl_subpanel select {
	display: inline-block;
    width: auto;
    vertical-align: middle;
	height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#save:before {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#save:before {
	content: "\e166";
}
.tl_panel .tl_subpanel input[type="image"],
.wizard a,
input[type="submit"] {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.tl_panel .tl_subpanel input[type="image"]:hover,
input[type="submit"]:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
a.show {
	display: inline!important;
}
ul.tl_listing {
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 0px;
	list-style-type: none;
}
ul.tl_listing ul {
	list-style-type: none;
}
ul.tl_listing ul ul {
	padding-left: 20px;
}
.tl_listing li {
	line-height: 30px;
}
.tl_listing li div {
	display: inline-block;
}
.tl_listing .tl_left,
.tl_listing a img {
	padding-left: 0 !important;
	margin-left: 0 !important;
}
.tl_listing .tl_folder_top {
	border-top: 1px #e7e7e7 solid;
	border-bottom: 1px #e7e7e7 solid;
}
.tl_listing .tl_folder_top,
.tl_listing .tl_folder {
	background-color: #f8f8f8;
}
.tl_listing .tl_folder.has-children .tl_left a + a img {
	margin-left: -20px !important;
}
.tl_folder.has-children .tl_left a:first-child {
	background-color: #FFF;
	display: inline-block;
    position: relative;
    left: -25px;
}
.tl_listing .tl_folder,
.tl_listing .tl_file {
	display: table-row;
	border-collapse: collapse;
}
.tl_listing .tl_folder .tl_left,
.tl_listing .tl_file .tl_left {
	width: 70%;
	border-bottom: 1px #e7e7e7 solid;
	display: table-cell;
}
.tl_listing .tl_folder .tl_right,
.tl_listing .tl_file .tl_right {
	display: table-cell;
	width: 30%;
	text-align: right;
	border-bottom: 1px #e7e7e7 solid;
	padding-right: 10px;
}
.tl_listing .tl_file .tl_left {
	padding-left: 20px !important;
}
.cbx label {
	margin-bottom: 0;
}
.logo-headline {
	color: #8ab858;
}
.logo-headline img {
	margin-right: 10px;
}
#tl_breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
	display: block;
}
#tl_breadcrumb > li {
	display: inline-block;
}
#tl_breadcrumb > li + li:before {
    padding: 0 5px 0 10px;
    color: #ccc;
    content: "/\00a0";
}
.bg-image {
	background-image: url(../pics/login-screen.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.sidebar-nav ul li ul li {
	padding-left: 20px;
}
.list_icon {
	background-repeat: no-repeat;
	padding-left: 25px;
}
.list_icon_new {
	background-repeat: no-repeat;
}
div.clear {
	display: none;
}
.dz-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	cursor: pointer;
	display: table-cell;
}
.dz-message {
	font-size: 1.2em;
}


/* Tips */
.tl_tip {
	overflow:hidden;
	cursor:pointer;
	display: block;
	height: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
	font-size: 0.9em;
}
.tip-wrap {
	z-index:1000;
}
.tip {
	max-width:320px;
	padding:3px 6px 4px;
	border-radius:3px;
	box-shadow:1px 1px 3px #666;
	background:#666;
	background-image:-moz-linear-gradient(bottom, #333 0%, #666 80%);
	background-image:-webkit-linear-gradient(bottom, #333 0%, #666 80%);
	background-image:-o-linear-gradient(bottom, #333 0%, #666 80%);
	background-image:-ms-linear-gradient(bottom, #333 0%, #666 80%);
	background-image:linear-gradient(to top, #333 0%, #666 80%);
}
.tip div {
	line-height:1.3;
}
.tip div,.tip a {
	color:#fff;
}
.tip-top {
	height:6px;
	position:absolute;
	top:-6px;
	left: 20px;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #666;
}
/* Default icon classes */
.header_icon,.header_home,.header_user,.header_preview,.header_clipboard,.header_logout,.header_back,.header_new,.header_rss,
.header_edit_all,.header_delete_all,.header_new_folder,.header_css_import,.header_theme_import,.header_store,.header_toggle,.header_sync {
	padding:2px 0 3px 20px;
	background-position:left center;
	background-repeat:no-repeat;
	margin-left:15px;
}
/* Header icons */
.header_home {
	background-image:url("../images/home.gif");
}
.header_user {
	background-image:url("../images/login.gif");
}
.header_preview {
	background-image:url("../images/preview.gif");
}
.header_clipboard {
	background-image:url("../images/clipboard.gif");
}
.header_logout {
	background-image:url("../images/logout.gif");
}
.header_back {
	background-image:url("../images/back.gif");
}
.header_new {
	padding-left:18px;
	background-image:url("../images/new.gif");
}
.header_rss {
	background-image:url("../images/rss.gif");
}
.header_edit_all {
	background-image:url("../images/all.gif");
}
.header_delete_all {
	background-image:url("../images/deleteAll.gif");
}
.header_new_folder {
	background-image:url("../images/newfolder.gif");
}
.header_css_import {
	background-image:url("../images/cssimport.gif");
}
.header_theme_import {
	background-image:url("../images/theme_import.gif");
}
.header_store {
	padding-left:18px;
	background-image:url("../images/store.gif");
}
.header_toggle {
	background:url("../images/folPlus.gif") no-repeat -1px center;
}
.header_sync {
	background-image:url("../images/sync.gif");
}
/* Navigation icons */
.fa-contao-content:before {
	content: "\f044";
}
.fa-contao-system:before {
	content: "\f085";
}
.fa-contao-design:before {
	content: "\f0c5";
}
.fa-contao-accounts:before {
	content: "\f0c0";
}
.fa-contao-devtools:before {
	content: "\f0ad";
}
a.navigation {
	//padding:2px 0 3px 20px;
	background-position:15px center;
	background-repeat:no-repeat;
	//margin-left:15px;
	//margin-left:0;
}
a.navigation.article {
	background-image:url("../images/article.gif");
}
a.navigation.form {
	background-image:url("../images/form.gif");
}
a.navigation.themes {
	background-image:url("../images/themes.gif");
}
a.navigation.page {
	background-image:url("../images/page.gif");
}
a.navigation.member {
	background-image:url("../images/member.gif");
}
a.navigation.mgroup {
	background-image:url("../images/mgroup.gif");
}
a.navigation.user {
	background-image:url("../images/user.gif");
}
a.navigation.group {
	background-image:url("../images/group.gif");
}
a.navigation.files {
	background-image:url("../images/files.gif");
}
a.navigation.log {
	background-image:url("../images/log.gif");
}
a.navigation.settings {
	background-image:url("../images/settings.gif");
}
a.navigation.maintenance {
	background-image:url("../images/cache.gif");
}
a.navigation.undo {
	background-image:url("../images/undo.gif");
}
a.navigation.login {
	background-image:url("../images/login.gif");
}
a.navigation.tpl_editor {
	background-image:url("../images/template_editor.gif");
}
@media (max-width: 61.875em) {
	.login-panel {
		margin-top: 50px;
	}
	.w50,
	.tl_tbox > div,
	.tl_formbody_edit fieldset > div  {
		width: 100%;
		padding-right: 0;
	}
}
@media (max-width: 50em) {
	.login-panel {
		margin-top: 25px;
	}
}