.invisible {
	display: none;
}
div.clear {
	display: none;
}
.logo-headline {
	color: #8ab858;
}
.logo-headline img {
	margin-right: 10px;
}
#tl_breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
	display: block;
}
#tl_breadcrumb > li {
	display: inline-block;
}
#tl_breadcrumb > li + li:before {
    padding: 0 5px 0 10px;
    color: #ccc;
    content: "/\00a0";
}
.bg-image {
	background-image: url(../pics/login-screen.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.sidebar-nav ul li ul li {
	padding-left: 20px;
}
/* drop zone */
.dz-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	display: table-cell;
}
.dz-drag-hover .dz-container {
	border: 1px solid #656565;
}
.dz-message {
	font-size: 1.2em;
	cursor: pointer;
	display:inline;
}
.panel-body nav .pagination {
	margin: 0;
}
.panel-body > *:last-child {
	margin-bottom: 0;
}
@media (max-width: 61.875em) {
	.login-panel {
		margin-top: 50px;
	}
	.w50,
	.tl_tbox > div,
	.tl_formbody_edit fieldset > div  {
		width: 100%;
		padding-right: 0;
	}
}
@media (max-width: 50em) {
	.login-panel {
		margin-top: 25px;
	}
}