h1, .h1 {
    font-size: 1.6em;
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.4em;
}

h4, .h4 {
    font-size: 1.3em;
}

h5, .h5 {
    font-size: 1.2em;
}

h6, .h6 {
    font-size: 1.1em;
}

.invisible {
    display: none;
}

div.clear {
    display: none;
}

.logo-headline {
    color: #8ab858;
    img {
        margin-right: 10px;
    }
}

#tl_breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: block;
    > li {
        display: inline-block;
        + li:before {
            padding: 0 5px 0 10px;
            color: #ccc;
            content: "/\00a0";
        }
    }
}

.bg-image {
    background: url('../pics/login-screen.jpg') no-repeat fixed;
    background-size: cover;
}

.sidebar-nav ul li {
    a {
        display: block !important;
    }
    ul {
        li {
            padding-left: 20px;
        }
        li.active,
        li:focus,
        li:hover {
            background-color: #eee;
        }
        a {
            display: block !important;
        }
        a:focus,
        a:hover {
            background-color: inherit;
        }
    }
    .nav-second-level.collapsing {
        display: block !important;
    }
}

.force-display {
    display: inline-block !important;
}

.navbar {
    margin-bottom: 0;
    a {
        display: block !important;
    }
    .dropdown {
        display: inline-block !important;
    }
}

.breadcrumb {
    margin-bottom: 10px;
}

/* drop zone */
.dz-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    display: table-cell;
}

.dz-drag-hover .dz-container {
    border: 1px solid #656565;
}

.dz-message {
    font-size: 1.2em;
    cursor: pointer;
    display: inline;
}

.panel-footer,
.panel-body {
    nav.pull-right {
        height: 34px;
    }
    nav .pagination {
        margin: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}

.tl_label {
    font-weight: bold;
}

.contao-help-table td.headline {
    font-size: 1.1em;
    padding-top: 20px
}

.large-text {
    font-size: 6em;
}

#footer {
    margin: 20px 0;
}

@media (max-width: 61.875em) {
    .login-panel {
        margin-top: 50px;
    }
    .w50,
    .tl_tbox > div,
    .tl_formbody_edit fieldset > div {
        width: 100%;
        padding-right: 0;
    }
}

@media (max-width: 50em) {
    .login-panel {
        margin-top: 25px;
    }
}

.tooltip-inner {
    word-wrap: break-word;
}