.tl_panel input[type="search"],
.tl_select,
.tl_select_column,
.tl_select_unit,
.tl_text,
.tl_text_2,
.tl_text_3,
.tl_text_4,
.tl_textarea,
.tl_textarea,
.tl_text_unit,
.tl_text_trbl,
.tl_text_interval,
.tl_select_interval {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $gray;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tl_panel,
.tl_panel_bottom {
    input[type="search"],
    .tl_text,
    .tl_text_2,
    .tl_text_3,
    .tl_text_4,
    .tl_select {
        &.active {
            background-color: #fcf8e3;
        }
    }
}

fieldset.hide {
    display: block !important;
}

fieldset.collapsed {
    padding-top: 0;
    padding-bottom: 12px;
    margin-bottom: 0;
}

fieldset.collapsed div {
    display: none !important;
}

fieldset.tl_tbox, fieldset.tl_box {
    margin-top: 20px;
}

fieldset.tl_tbox > legend:before,
fieldset.tl_box > legend:before {
    content: "\f107";
}

fieldset.collapsed > legend:before {
    content: "\f105";
}

fieldset.tl_tbox > legend,
fieldset.tl_box > legend {
    color: $color-green;
    cursor: pointer;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.tl_formbody {
    margin-bottom: 10px;
    .tl_select_trigger {
        text-align: right;
        padding-right: 10px;
    }
}

.w50 {
    width: 50%;
    float: left;
    .tl_radio_table {
        width: 100%;
    }
}

.clr {
    display: table;
    clear: both;
    width: 50%;
}

.tl_box,
.tl_tbox {
    > div {
        .tl_text,
        .tl_select {
            width: 47.5%
        }
        td {
            .tl_text,
            .tl_select,
            .tl_select_column {
                width: 95%
            }
        }
        width: 100%;
        &.long {
            width: 97.5%;
            .tl_text,
            .tl_select {
                width: 100%
            }
        }
        .wizard {
            .tl_text,
            .tl_select {
                width: calc(95% - 46px);
            }
        }
    }
    div.w50 {
        width: 50%;
        .tl_text,
        .tl_select {
            width: 95%;
        }
        &.wizard {
            .tl_text,
            .tl_select {
                width: calc(95% - 46px);
            }

        }
    }
    .cbx {
        margin-top: 52px;
        margin-bottom: 6px;
    }
    .tl_text,
    .tl_select {
        width: 95%;
    }
    &:after {
        @include clear();
    }
}

.tl_checkbox_container legend,
.tl_formbody_edit h3 {
    font-size: 1.1em;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    border: none;
}

.tl_textarea {
    min-height: 34px;
    max-width: 97.5%;
}

.wizard input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
}

div.wizard a {
    z-index: 2;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    position: relative;
    display: table-cell;
    height: 34px;
    padding: 5px 12px;
    &.force-display {
        display: table-cell !important;
    }
}

div.wizard h3 label {
    display: table-cell;
    padding: 20px 0 5px 0;

}

div.wizard p,
div.wizard h3 {
    display: table-row;
}

div.wizard h3 {
}

.tl_radio_table {
    width: 50%;
}

.tl_checkbox_container {
    .sortable {
        span {
            display: block;
        }
    }
}

.tl_modulewizard {
    td:last-child {
        text-align: right;
        width: 220px;
        white-space: nowrap;
    }
    .mw_enable {
        cursor: pointer;
    }
    width: 100%;
}

input.tl_text_2 {
    width: 47%;
    display: inline-block;
    vertical-align: middle;
}

td {
    input.tl_text_2 {
        width: 95%;
    }
}

select.tl_select_interval {
    display: inline-block;
    width: 46%;
}

.tl_text_trbl,
.tl_select_unit {
    display: inline-block;
    width: 18%;
}

.tl_text_unit {
    display: inline-block;
    width: 80%;
}

.tl_text[disabled],
.tl_text_2[disabled],
.tl_text_3[disabled],
.tl_text_4[disabled],
.tl_textarea[disabled],
.tl_text_unit[disabled],
.tl_text_trbl[disabled],
.tl_text_interval[disabled],
.tl_select[disabled],
.tl_select_column[disabled],
.tl_text[readonly],
.tl_text_2[readonly],
.tl_text_3[readonly],
.tl_text_4[readonly],
.tl_textarea[readonly],
.tl_text_unit[readonly],
.tl_text_trbl[readonly],
.tl_text_interval[readonly] {
    background-color: $gray-lighter;
    opacity: 1;
    cursor: not-allowed;
}

.tl_modulewizard img.mw_enable,
.js .tl_modulewizard input.mw_enable {
    display: none;
}

input.tl_imageSize_0.tl_text_4, input.tl_imageSize_1.tl_text_4 {
    display: inline-block;
    width: 23.5%
}

.cbx label {
    margin-bottom: 0;
}

.contao-diff label {
    font-weight: normal;
}

.contao-diff .form-inline {
    margin: 20px 0;
}

.selector_container {
    position: relative;
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.gimage {
    margin: 2px;
    border: 1px solid $legend-border-color;
}

ul.sgallery li {
    float: left;
}

ul.sortable li {
    cursor: move;
}

ul:after {
    @include clear();
}

ul {
    &.tl_listwizard {
        list-style: none;
        padding-left: 0;
        li {
            padding: 5px 0;
        }
    }
    .tl_text {
        display: inline-block;
    }
}

.tl_tablewizard {
    td {
        padding: 8px;
    }
}

ul.tl_metawizard {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    li {
        padding: 10px;
        &:nth-child(2) {
            background-color: $gray-lighter;
        }
        &:last-child {
            border-bottom: 1px solid $listing-border-color;
        }
        border-top: 1px solid $listing-border-color;
        border-left: 1px solid $listing-border-color;
        border-right: 1px solid $listing-border-color;
    }
    .lang {
        display: block;
        font-weight: bold;
        height: 28px;
    }
    label {
        width: 130px;
        text-align: right;
        font-weight: normal;
        padding-right: 10px;
    }
    .tl_text {
        margin-bottom: 10px;
        width: calc(100% - 150px)
    }
    .tl_metawizard_img {
        float: right;
        cursor: pointer;
    }
}

.tl_metawizard_new {
    div.tl_select {
        float: left;
        margin-right: 20px;
    }
    &:after {
        @include clear();
    }
}

p.tl_help {
    margin-right: 5%;
}

p:empty.tl_help {
    margin-right: 0;
}

@media (min-width: 740px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

@media (max-width: 48em) {
    .tl_box,
    .tl_tbox {
        > div {
            .tl_text,
            .tl_select {
                width: 100%
            }
            &.long {
                width: 100%;
            }
        }
        div.w50 {
            width: 100%;
            .tl_text,
            .tl_select {
                width: 100%;
            }
        }
        .cbx {
            margin-top: 0;
            margin-bottom: 0;
        }
        .tl_text,
        .tl_select {
            width: 100%;
        }
    }
    .tl_textarea {
        max-width: 100%;
    }
    ul.tl_metawizard .tl_text {
        margin-bottom: 10px;
        width: calc(100% - 150px)
    }
    .tl_metawizard_new div.tl_select {
        width: calc(100% - 175px)
    }
}