.list_icon {
    background-repeat: no-repeat;
    padding-left: 25px;
}

.list_icon_new {
    background-repeat: no-repeat;
}

/* Default icon classes */
.header_icon, .header_home, .header_user, .header_preview, .header_clipboard, .header_logout, .header_back, .header_new, .header_rss,
.header_edit_all, .header_delete_all, .header_new_folder, .header_css_import, .header_theme_import, .header_store, .header_toggle, .header_sync {
    &:before {
        @include bootstrap-font-awesome(7px);
    }
    //padding:2px 0 3px 20px;
    //background-position:left center;
    //background-repeat:no-repeat;
    //margin-left:15px;
}

/* Header icons */
.header_home {
    background-image: url("../images/home.gif");
}

.header_user {
    background-image: url("../images/login.gif");
}

.header_preview {
    background-image: url("../images/preview.gif");
}

.header_clipboard:before {
    content: "\f057";
}

.header_logout {
    background-image: url("../images/logout.gif");
}

.header_back:before {
    content: "\f060";
}

.header_new:before {
    content: "\f055";
}

.header_rss:before {
    content: "\f09e";
}

.header_edit_all:before {
    content: "\f044";
}

.header_delete_all {
    background-image: url("../images/deleteAll.gif");
}

.header_new_folder:before {
    content: "\f15b";
}

.header_css_import {
    background-image: url("../images/cssimport.gif");
}

.header_theme_import {
    background-image: url("../images/theme_import.gif");
}

.header_store {
    padding-left: 18px;
    background-image: url("../images/store.gif");
}

.header_toggle:before {
    content: "\f196";
}

.header_sync:before {
    content: "\f021";
}

/* Navigation icons */
[class*="fa-contao-"]:before {
    content: "\f0f2";
}
.fa-contao-content:before {
    content: "\f044";
}

.fa-contao-system:before {
    content: "\f085";
}

.fa-contao-design:before {
    content: "\f0c5";
}

.fa-contao-accounts:before {
    content: "\f0c0";
}

.fa-contao-devtools:before {
    content: "\f0ad";
}

a.navigation {
    //padding:2px 0 3px 20px;
    background-position: 15px center;
    background-repeat: no-repeat;
    //margin-left:15px;
    //margin-left:0;
}

a.navigation.article {
    background-image: url("../images/article.gif");
}

a.navigation.form {
    background-image: url("../images/form.gif");
}

a.navigation.themes {
    background-image: url("../images/themes.gif");
}

a.navigation.page {
    background-image: url("../images/page.gif");
}

a.navigation.member {
    background-image: url("../images/member.gif");
}

a.navigation.mgroup {
    background-image: url("../images/mgroup.gif");
}

a.navigation.user {
    background-image: url("../images/user.gif");
}

a.navigation.group {
    background-image: url("../images/group.gif");
}

a.navigation.files {
    background-image: url("../images/files.gif");
}

a.navigation.log {
    background-image: url("../images/log.gif");
}

a.navigation.settings {
    background-image: url("../images/settings.gif");
}

a.navigation.maintenance {
    background-image: url("../images/cache.gif");
}

a.navigation.undo {
    background-image: url("../images/undo.gif");
}

a.navigation.login {
    background-image: url("../images/login.gif");
}

a.navigation.tpl_editor {
    background-image: url("../images/template_editor.gif");
}