.alert-list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.alert-list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.alert-list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}
.alert-list-group-item p {
	padding: 10px 15px;
	margin: 0;
}
.navbar-top-links .alert-messages.dropdown-menu li > div {
	padding: 3px 20px;
    min-height: 0;
}
.tl_empty,
.tl_message .tl_confirm,
.tl_message .tl_new,
.tl_message .tl_info,
.tl_message .tl_raw,
.tl_message .tl_error {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.tl_error { /* alert-danger*/
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.tl_confirm { /*.alert-success */
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.tl_info {/*.alert-info */
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.tl_confirm:before,
.tl_new:before,
.tl_info:before,
.tl_error:before,
fieldset.tl_tbox > legend:before,
fieldset.tl_box > legend:before {
	padding-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.1em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tl_confirm:before {
	content: "\f058";
}
.tl_new:before {
	content: "\f055";
}
.tl_info:before {
    content: "\f05a";
}
.tl_error:before {
	content: "\f071";
}
.tl_new {/*.alert-warning */
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.tl_empty {
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
/* paste hint */
#paste_hint + .tl_listing_container > ul.tl_listing:first-child {
    margin-top: 40px;
}
#paste_hint p {
    position: absolute;
    font-family: "Architects Daughter",cursive;
    font-size: 1em;
    color: #8a6d3b;
    top: 85px;
    right: 0;
    padding: 10px 36px 20px 10px;
    margin-right: 50px;
    margin-left: 15px;
    background: #fcf8e3 url("../images/arrow_right.png") bottom right no-repeat;
    margin-bottom: 20px;
    border: 1px solid #faebcc;
    border-radius: 4px;
}