.tl_submit_container,
.tl_panel,
.tl_version_panel,
.tl_listing_container.parent_view .tl_header {
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px $listing-border-color solid;
    padding: 10px;
}

.tl_panel {
    .tl_search,
    .tl_limit {
        display: inline;
        margin-left: 8px;
    }
    text-align: right;
    padding-top: 0;
    br {
        display: none;
    }
    span,
    strong {
        vertical-align: -30%;
        vertical-align: -webkit-baseline-middle;
    }
}

.tl_submit_panel.tl_subpanel {
    float: right;
    margin-left: 10px;
}

.tl_submit_container,
.tl_version_panel,
.tl_listing_container.parent_view .tl_header {
    text-align: right;
}

.tl_version_panel {
    margin-bottom: 10px;
    .tl_formbody {
        margin-bottom: 0;
    }
}

.tl_panel {
    border-left: 1px $listing-border-color solid;
    border-right: 1px $listing-border-color solid;
}

.tl_panel:last-child {
    border-bottom: 1px $listing-border-color solid;
}