// margin for indent
$indent-margin-left: 10px !default;
$indent-margin-right: 10px !default;

// border color
$listing-border-color: darken($gray-lightest, 6.5%);
$line-hover-color: rgb(235, 253, 215) !default;

// color
$color-green: #77ac45 !default;
$color-red: #c33 !default;
$color-gray: $gray !default;
$color-blue: #4b85ba !default;
$color-orange: #f90 !default;
$color-icon: #859099 !default;
$color-icon-hover: #23527c !default;
$color-icon-disabled: #c5c0c9 !default;

// publish and unpublish
$color-visible: #2BBE83 !default;
$color-invisible: #CA3C00 !default;

// clear
@mixin clear() {
    display: table;
    content: " ";
    clear: both;
}

// border radius
@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

// bootstrap-button
@mixin bootstrap-panel-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

@mixin bootstrap-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@mixin bootstrap-font-awesome($padding) {
    display: inline-block;
    padding-right: $padding;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin css-transition($element, $time, $effect) {
    -webkit-transition: $element $time $effect;
    -o-transition: $element $time $effect;
    -moz-transition: $element $time $effect;
    -ms-transition: $element $time $effect;
    -kthtml-transition: $element $time $effect;
    transition: $element $time $effect;
}

@mixin css-transition-delay($time) {
    -webkit-transition-delay: $time;
    -o-transition-delay: $time;
    -moz-transition-delay: $time;
    -ms-transition-delay: $time;
    -kthtml-transition-delay: $time;
    transition-delay: $time;
}

@mixin css-box-shadow($blur, $spread, $color) {
    -webkit-box-shadow: 0 0 $blur $spread $color;
    -moz-box-shadow: 0 0 $blur $spread $color;
    box-shadow: 0 0 $blur $spread $color;
}